
/* for 480px or less 手机端*/
@media screen and (max-width: 480px) {
 	html {
		font-size: 8px;
	}
}
/* for 480px or more 小屏幕电脑端*/
@media screen and (max-width: 1370px){
	html {
		font-size: 10px;
	}
}
/* for 480px or more 大屏幕电脑端*/
@media screen and (min-width: 1371px){
	html {
		font-size: 10px;
	}
}
body{
	min-width: 1024px;
	font-size: 1.5rem;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	
}
body div {
	/*-webkit-transform:scale(0.8);
	-webkit-transform-origin: 0 0;*/
}
/*首页*/
.header {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 470px;
    background-image: url("../img/headerbg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

.companyInfo {
    min-width: 1024px;
}

.body {
    width: 100%;
    padding: 0;
}

.content {
    width: 1240px;
    margin: 0 auto;
}

.wePrcdiv {
    height: 530px;
}

.wePrcdiv .title {
    height: 100px;
    text-align: center;
}

.wePrcdiv .weprcContent {
    text-align: center;
    color: #484848;
    font-size: 18px;
}

.wePrcdiv .weprcContent div {
    display: inline-block;
    width: 89%;
    color: #484848;
    opacity: 0.8;
}

.wePrcdiv .weprcFooter {
    margin-top: 80px;
    padding: 0;
    height: 150px;
    display: flex;
}

.wePrcdiv .weprcFooter>div {
    flex: 1;
    text-align: center;
    height: 145px;
    margin: 0;
}

.weprcFooter .title {
	width: 125px;
    height: 100%;
    text-align: center;
    border-right: 1px solid #e5e5e9;
    padding-top: 10px;
}

.weprcFooter .title img {
    height: 60px;
    width: 60px;
    background-repeat: no-repeat;
}

.weprcFooter .title .txt {
    color: #484848;
    font-size: 20px;
}

.weprcFooter .contenttxt {
	text-align: left;
    padding-left: 15px;
    height: 60px;
    width: calc(100%  - 135px);
}

.weprcFooter .contenttxt a {
    display: inline-block;
    margin-top: 5px;
    color: #5e5e5e;
    font-size: 14px;
    cursor: pointer;
}
.weprcFooter .contenttxt a:hover {
	color: #009ad6;
}
.wePrcdiv .weprcFooter .card {
	width: 400px;
	height: 210px;
	border: 1px solid #e5e5e9;
	padding: 40px 30px ;
}
.wePrcdiv .weprcFooter .card>div{
	display: inline-block;
}
.aboutCompany {
    padding-top: 30px;
    text-align: center;
}

.registBtn {
    width: 160px;
    height: 30px;
    line-height: 28ox;
    border: 1px solid #fff;
    border-radius: 3px;
}

.aboutCompany .title {
    font-size: 32px;
    color: #000000;
}

.aboutCompany .contenttxt {
    font-size: 16px;
    color: #777777;
    text-align: left;
    letter-spacing: 1px;
}

.allbg1div {
    height: 140px;
    background-image: url("../img/allbackground1.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.wePrc {
    opacity: 0;
    transition: 1s;
    height: 470px;
    margin: 0 0;
    padding-top: 30px;
}

.wePrc .imgDiv {
    float: left;
    height: 380px;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 420px;
}

.wePrc .txtDiv {
    float: left;
    height: 380px;
    margin: 0;
    text-align: left;
    width: 755px;
}

.wePrc .txtDiv .titleTxt {
    display: inline-block;
    margin-top: 150px;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #484848;
}
.applyBtn {
	width: 300px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 10px;
	background: #009ad6;
	color: #fff;
	font-size: 22px;
	font-size: 24px;
    letter-spacing: 4px;
}
.applyBtn img {
	width: 35px;
	height: 35px;
	margin: -4px 0 0 5px;
}

.wePrc .txtDiv .cntTxt {
    margin-top: 10px;
    letter-spacing: 1px;
    font-size: 16px;
    line-height: 26px;
    color: #5e5e5e;
}

.trialBtn {
    width: 180px;
    height: 30px;
    line-height: 28px;
    border: none;
    background-color: #00B4FF;
    cursor: pointer;
    color: #fff;
    letter-spacing: 2px;
    font-size: 16px;
    border-radius: 5px;
}

.mtop20 {
    margin-top: 20px;
}

.allbg2div {
    margin-top: 400px;
    height: 121px;
    text-align: center;
    background-color: #104A77;
}

.allbg2div .layer1 {
    height: 140px;
    background-color: #104B77;
}

.ourPartners {
    cursor: pointer;
    display: inline-block;
    width: 228px;
    margin: 15px 6px 15px 0;
    background-color: #fff;
    border: 1px solid #d3d3d3;
    box-shadow: 1px 1px 3px 1px rgba(90, 113, 150, .46);
    text-align: center;
}

.footer {
    width: 100%;
    margin-top: 80px;
    height: 380px;
    background-image: url("../img/footerbg.png");
    background-size: cover;
    background-repeat: no-repeat;
}

/*.footer .layer2 {
    background: #104B77;
    opacity: 0.7;
    height: 380px;
}*/

.leftCnt {
    margin: 0 0;
    float: left;
    width: 560px;
}
.rightCnt {
    margin-top: 60px;
    float: right;
    text-align: right;
    width: 395px;
}

.rightCnt img {
    margin-top: 20px;
    margin-right: 10px;
    width: 140px;
    height: auto;
}
.rightCnt div {
	width: 376px;
    color: #fff;
    height: 50px;
    font-size: 2rem;
    line-height: 50px;
}

.leftCnt .title {
    display: block;
    color: #fff;
    margin: 40px 0 30px 0;
    font-weight: 500;
    font-size: 29px;
}

.registBtn {
    width: 160px;
    height: 30px;
    line-height: 28px;
    border: 1px solid #fff;
    border-radius: 3px;
    background-color: #104B77;
    color: #fff;
    font-size: 18px;
}

.phoneimgDiv {
    float: left;
}

.phoneimgDiv img {
    width: 79px;
    height: 79px;
}

.phonetxtDiv {
    float: left;
    margin-left: 55px;
    padding-top: 2px;
    color: #fff;
    font-size: 24px;
    letter-spacing: 5px;
}

.gif {
    width: 340px;
    height: auto;
    margin-top: 100px;
}

.hr1 {
    border-top: 2px solid #667989;
    width: 1240px;
}

.Copyright {
    margin-top: 28px;
    line-height: 53px;
    text-align: left;
    color: #BCC1C7;
    font-size: 14px;
}

.Copyright a {
    color: white;
    text-decoration: none;
    margin-left: 5px;
}

.on {
    opacity: 1;
    transition: all 1s ease 0s;
}

.off {
    opacity: 0.3;
    transition: all 1s ease 0s;
}
/*fofpower*/
a,a:active,a:hover,a:link,a:visited{
	color:inherit;
	-webkit-touch-callout:none;
	text-decoration:none;
	outline:0
}
em,i{
	font-style:normal
}
article,aside,blockquote,body,button,code,dd,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}body{font-family:\\5FAE\8F6F\96C5\9ED1,Microsoft YaHei,Arial,sans-serif;line-height:1.5;font-size:14px;color:#333;-webkit-text-size-adjust:none;-webkit-tap-highlight-color:rgba(255,255,255,0);outline:0;overflow-x:hidden}h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight:400}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}fieldset,img,li{vertical-align:middle}li{list-style:none}dl{vertical-align:middle}input,select,textarea{font-family:inherit;font-size:inherit;font-weight:inherit;outline:0;-webkit-appearence:none;-ms-appearence:none}button,html input[type=button],input[type=reset],input[type=submit]{border:none;background:0 0;-webkit-appearance:none;outline:0}a,b,i,span{display:inline-block}
/*导航栏*/
.z-header{
	position:fixed;
	top:0;
	left:0;
	right:0;
	z-index:99;
	-webkit-transition:background-color .3s ease;
	transition:background-color .3s ease;	
}
.z-header:hover {
	background-color:#fff !important;
	-webkit-transition:background-color .3s ease;
	transition:background-color .3s ease;	
}
.z-header:hover .z-header_content .menu>li>a,.z-header:hover .z-header_content li span{
	color:#333 !important;
	-webkit-transition:all .3s cubic-bezier(.23,1,.32,1);
	transition:all .3s cubic-bezier(.23,1,.32,1);
}
.z-header:hover .z-header_content a.ico{
	margin-left: -3px;
	margin-top:8px!important;	
	background-image:url(../img/smyt-logo-b.png)!important;
	width:168px!important;
	height:58px!important;
}
.z-header.bg-white{
	background-color:#fff
}
.z-header.bg-white li a{
	color:#565656
}
.z-header.bg-white li a:hover{
	/*border-bottom-color:#565656*/
}

.z-header:after{
	content:"";
	display:block;
	position:absolute;
	bottom:0;
	left:0;
	min-width:1200px;
	width:100%;
	height:1px;
	background:hsla(0,0%,75%,.3)
}
.z-header_content{
	height:75px;
	width:1240px;
	margin:0 auto
}
.z-header_content .ico-box{
	float:left
}
.z-header_content a.ico{
	display:block;
	margin-top:16px;	
	background-image:url(../img/smyt-logo.png);
	width:160px;
	height:43px;
	background-repeat:no-repeat;
	background-size:contain;
	cursor:pointer;
}
.z-header.bg-white .z-header_content a.ico{
	background-image:url(../img/smyt-logo.png);
	width:160px;
	height:43px;
}
.z-header.bg-blue .z-header_content a.ico{
	margin-left: -3px;	
	margin-top:8px;	
	background-image:url(../img/smyt-logo-b.png);
	width:168px;
	height:58px;
}
.z-header_content .menu{
	float:right;
	position: relative;
}
.z-header_content .menu ul{
	position:absolute;
	left:0;
	top:75px;
	display:none;
	list-style: none;
}
.z-header_content .menu ul li {
	min-width: 205px;
    height: 35px;
    background-color: #4499D0;
    line-height: 35px;
    text-align: left;
    padding-left: 20px;
    cursor: pointer;
    color: #fff;
}
.z-header_content .menu>li{
	position: relative;
	float:left;
	padding:0 20px;
	cursor: pointer;
}
.z-header_content .menu>li>a,.z-header_content li span{
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	height:75px;
	line-height:75px;
	font-size:2rem;
	color:#fff;
	-webkit-transition:all .3s cubic-bezier(.23,1,.32,1);
	transition:all .3s cubic-bezier(.23,1,.32,1);
	/*border-bottom-width:2px;
	border-bottom-style:solid;
	border-bottom-color:transparent*/
}
.z-header_content .menu>li:hover,.z-header_content li:hover{
	background:#4499D0;
}
.z-header .z-header_content .menu>li:hover a,.z-header .z-header_content li:hover span{
	color: #fff !important;
}
.z-footer{
	background-color:#2a2a2a;
	color:#909090;
}
.masthead {
	position: relative;	
	height: 485px;
}
.masthead2 {
	position: relative;	
	height: 921px;
	top: 75px;
}
.top-bg-power {
	background: url(../img/top-bg-power.png) top center no-repeat;
}
/*@-webkit-keyframes throttle {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	to {
		-webkit-transform: scale(1.08);
		transform: scale(1.08)
	}
}

@keyframes throttle {
	0% {
		-webkit-transform: scale(1);
		transform: scale(1)
	}
	to {
		-webkit-transform: scale(1.08);
		transform: scale(1.08)
	}
}*/
.top-bg-easy {
	background: url(../img/top-bg-easy.png) top center no-repeat;
	-webkit-animation: throttle 4s linear  alternate;
	animation: throttle 4s linear  alternate;
}
.top-bg-index {
	background: url(../img/top-bg-index.png) top center no-repeat;
}
.top-bg-mutual {
	background: url(../img/top-bg-mutual.png) top center no-repeat;
}
.top-bg-hedge {
	background: url(../img/top-bg-hedge.png) top center no-repeat;
}
.top-bg-about {
	background: url(../img/top-bg-about.png) top center no-repeat;
}
.top-bg-club {
	background: url(../img/top-bg-club.png) top center no-repeat;
}
.top-bg-apply {
	background: url(../img/top-bg-apply.png) top center no-repeat;
}
.top-bg-assess {
	background: url(../img/top-bg-assess.png) top center no-repeat;
}
.top-bg-exponential {
	background: url(../img/top-bg-exponential.png) top center no-repeat;
}
.top-bg-jcc {
	background: url(../img/top-bg-jcc.png) top center no-repeat;
}

.top-bg-easy .img {
	position: absolute;
    top: -58px;
    right: -130px;
}   
.bg-content {
	position: absolute;
	top: 28%;
	left: calc((100% - 1240px)/2);
	width: 1200px;
}
.bg-content .title {
	font-size: 3.4rem;
	color: #82d7e7;	
	height: 40px;
	line-height: 40px;
}
.bg-content .title-lg {
	font-size: 5rem;
	height: 95px;
	line-height: 95px;
	color: #fff;
}
.bg-content .con {
	font-size: 1.8rem;
	min-height: 38px;
	line-height: 38px;
	color: #fff;
	overflow: hidden;
}
.bg-content2 {
	position: absolute;
	top: 28%;
	left: calc((100% - 1240px)/2);
	width: 1200px;
	text-align: center;
}
.bg-content2 .title {
	font-size: 34px;
	color: #fff;	
	height: 80px;
	line-height: 80px;
}
.bg-content2 .con {
	font-size: 18px;
	min-height: 35px;
	line-height: 35px;
	color: #fff;
	letter-spacing: 0.8px;
}
.s-btn {
	width: 195px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	border-radius: 8px;	
	font-size: 1.8rem;
	margin-top: 20px;
	border: 1px solid #fff;
	color: #fff;
	cursor: pointer;
}
.lightblue {
	border: 1px solid #82d7e7;
	color: #82d7e7;
}
.s-btn img {
	position: relative;
    top: -3px;
    left: 10px;
	width: 35px;
	height: 35px;	
}
/*主体内容*/
.maincon {
	padding: 0 calc((100% - 1240px)/2);
	color: #484848;
	font-size: 1.8rem;
}
.con1 {
	font-size: 2rem;
	height: 70px;
    line-height: 38px;
    margin: 60px 0;
}
.analys {
	height:895px ;
	background: #f3f7fa;
	padding: 60px calc((100% - 1240px)/2);
}
.maincon>.title {
	height: 80px;
	line-height: 80px;
	font-size: 3rem;
	border-bottom:1px solid #e5e5e9 ;
	/*margin-left: 5px;*/
}
.pic-con {
	display: flex;
	padding: 90px 50px;
}
.pic-con .card {
	display: inline-block;
	width: 270px;
	height: 150px;
	margin-bottom: 40px;
}
.pic-con .card .sort-num {
	display: inline-block;
	width: 30px;
	font-size: 3rem;
	color: rgba(72,72,72,0.6);
	vertical-align: top;
	text-align: center;
}
.pic-con .left-part .card .main{
	padding-left: 20px;
	border-left: 6px solid #01B4FF;
	
}
.pic-con .right-part .card .main{
	padding-right: 20px;
	border-right: 6px solid #01B4FF;
}
.pic-con .left-part .card.active .main{
	border-left: 6px solid #104a77;
	color: #104a78;
}
.pic-con .right-part .card.active .main{
	border-right: 6px solid #104a77;
	color: #104a78;
}
.pic-con .card .main {
	display: inline-block;	
	max-width: calc(100% - 36px);
	height: 100%;
}
.pic-con .card .main .title{
	font-size: 2.4rem;
	height: 50px;
	line-height: 50px;
}
.pic-con .card .main .con {
	min-height: 30px;
	line-height: 30px;
	font-size: 1.6rem;
}
.pic-con .card .main .con p {
	font-size: 1.6rem;
	height: 30px;
	line-height: 30px;
}
.pic-con .left-part {
	flex: 1;
}

.pic-con .right-part {
	flex: 1;
}
.pic-con .cen-part {
	flex: 1.8;
	position: relative;
	text-align: center;
}
.pic-con .cen-part>img {
	position: relative;
	top: 150px;
	width: 243px;
	height: 230px;
}
.pic-con .cen-part .cen-text {
	position: relative;
	z-index: 10;
	color: #fff;
	font-size: 2.4rem;
}
.pic-con .cen-part .round {
	position: absolute;
	width: 130px;
	height: 130px;
	border-radius: 75px;
	padding: 25px;
	font-size: 2rem;
	color: #fff;
	background: #009bd6;
	cursor: pointer;
}
.pic-con .cen-part .round span{
	opacity: 0;
	transition: 0.4s;
}
.pic-con .cen-part .round img {
	position: relative;
    top: -30px;
}
.pic-con .cen-part .round.active{
	padding: 37px;
	background: #041e43;
	box-shadow:  3px 3px 13px rgba(4, 30, 67, .4);
}
.pic-con .cen-part .round.active img{
	display: none;
}
.pic-con .cen-part .round.active span{
	opacity: 1;
}
.pic-con .cen-part .round.up-p {
	top: 5px;
    left: 205px;
}
.pic-con .cen-part .round.l-up-p {
	top: 115px;
    left: 25px;
}
.pic-con .cen-part .round.l-down-p {
	top: 290px;
    left: 25px;
}
.pic-con .cen-part .round.down-p {
	top: 392px;
    left: 205px;
}
.pic-con .cen-part .round.r-down-p {
	top: 290px;
    left: 390px;
}
.pic-con .cen-part .round.r-up-p {
	top: 115px;
    left: 390px;
}
.module {
	padding: 60px calc((100% - 1240px)/2);
}
.module .card-con {
	padding: 40px 0;
}
.module .card-con .card {
	display: inline-block;
	width: 398px;
	height: 267px;
	margin: 0 10px 15px 0;
	border: 1px solid #e5e5e9 ;
	padding: 50px 25px;	
    vertical-align: top;
}
.module .card-con .card .title {
	height: 70px;
	line-height: 70px;
	font-size: 2.4rem;
}
.module .card-con .card .con {
	min-height: 30px;
	line-height: 30px;
	font-size: 1.8rem;
	color: rgba(72,72,72,0.8);
}
.module .card-con .card:nth-child(1){
	background:url(../img/mod1-1.png) no-repeat right bottom;
}
.module .card-con .card:nth-child(2){
	background:url(../img/mod1-2.png) no-repeat right bottom;
}
.module .card-con .card:nth-child(3){
	background:url(../img/mod1-3.png) no-repeat right bottom;
}
.module .card-con .card:nth-child(4){
	background:url(../img/mod2-1.png) no-repeat right bottom;
}
.module .card-con .card:nth-child(5){
	background:url(../img/mod2-2.png) no-repeat right bottom;
}
.module .card-con .card:nth-child(6){
	background:url(../img/mod2-3.png) no-repeat right bottom;
}
.module .card-con .card:nth-child(7){
	background:url(../img/mod3-1.png) no-repeat right bottom;
}
.module .card-con .card:nth-child(8){
	background:url(../img/mod3-2.png) no-repeat right bottom;
}
/*easy*/
.easy-con2 {
	background: #f3f7fa;
	padding: 60px calc((100% - 1240px)/2);
}
.easy-con2 .card-con>div {
	display: flex;
}
.easy-con2 .card-con>div .card {
	text-align: center;
}
.easy-con2 .card-con>div .card {
	width: 225px;
    margin: 0 auto;
    margin-top: 35px;
}
.easy-con2 .card-con>div:first-child .card {
    margin-top: 50px;
}
.easy-con2 .card-con>div .card .img img{
	width: 110px;
	height: 110px;
}
.easy-con2 .card-con>div .card .title {
	font-size: 2.2rem;
	height: 35px;
	line-height: 35px;
}
.easy-con2 .card-con>div .card .con {
	font-size: 1.6rem;
	color: rgba(72,72,72,0.8);
	min-height: 25px;
	line-height: 25px;
}
.easy-con3 .card-con {
	margin-top: 70px;
	overflow: hidden;
}
.easy-con3 .card-con>div {
	display: inline-block;
	width: 605px;
	height: 305px;
	vertical-align: top;
}
.easy-con3 .card-con>div:first-child {
	margin-right: 10px;
}
.easy-con3 .card-con .card {
	border: 1px solid #e5e5e9 ;
	text-align: center;
	color: #484848;
	/*padding-top: 10px;*/
}
.easy-con3 .card-con .card .img img{
	width: 80px;
	height: 80px;
	margin-top: 10px;
}
.easy-con3 .card-con .card .title {
	font-size: 30px;
	height: 40px;
	line-height: 40px;
}
.easy-con3 .card-con .card .num {
	font-size: 72px;
    color: #009BD6;
    letter-spacing: 26px;
    position: relative;
    left: 20px;
}
.easy-con3 .card-con .card .date {
	width: 280px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    margin: 0 auto;
    background: #EFEFEF;
    border-radius: 10px;
}
.easy-con3 .card-con .card .date>div {
	width: 280px;
	height: 35px;
	line-height: 35px;
	font-size: 16px;
}


.easy-con3 .card-con .card2 {
	/*display: none;*/
	opacity: 0;
	transition: 1s;
	text-align: center;
	color: #fff;
	font-size: 16px;
	-webkit-box-shadow: 0px 5px 20px 5px #C9D0E4;
	-moz-box-shadow: 0px 5px 20px 5px #C9D0E4;
	box-shadow: 0px 5px 20px 5px #C9D0E4;
	background: url(../img/easy-con3-bg.png) bottom center no-repeat;
	background-color: #009ad6;
	vertical-align: top;
	width: 100%;
	height: 100%;
}
.easy-con3 .card-con .card2 .img {
	font-size: 22px;
    height: 80px;
    line-height: 80px;
}
.easy-con3 .card-con .card2 .con {
	text-align: left;
}
.easy-con3 .card-con .card2 .con>div{
	display: inline-block;
    width: 282px;
    height: 40px;
    padding-left: 100px;
}

.easy-con3 .card-con .card.pub:hover~.pub{	
	-webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    /*-webkit-transform: translateY(-305px);
    -ms-transform: translateY(-305px);
    -o-transform: translateY(-305px);
    transform: translateY(-305px);*/
}
.easy-con3 .card-con .card.pri:hover~.pri{	
	-webkit-transition: transform 0.4s;
    -o-transition: transform 0.4s;
    transition: transform 0.4s;
    /*-webkit-transform: translateY(-305px);
    -ms-transform: translateY(-305px);
    -o-transform: translateY(-305px);
    transform: translateY(-305px);	*/
}
.easy-con3 .card-con .pub1 {
	height: 100%;
	}
.easy-con3 .card-con .card:hover .pub1 {
	display: none;	
	transition: 1s;
}
.easy-con3 .card-con .card:hover .card2 {
	opacity: 1;
}
/*数字滚动插件的CSS可调整样式*/
.mt-number-animate{ font-family: '微软雅黑'; line-height:72px; height: 72px;/*设置数字显示高度*/; font-size: 72px;/*设置数字大小*/ overflow: hidden; display: inline-block; position: relative; }
.mt-number-animate .mt-number-animate-dot{ width: 15px;/*设置分割符宽度*/ line-height: 72px; float: left; text-align: center;}
.mt-number-animate .mt-number-animate-dom{ width: 80px;/*设置单个数字宽度*/ text-align: center; float: left; position: relative; top: 0;}
.mt-number-animate .mt-number-animate-dom .mt-number-animate-span{ width: 100%; float: left;}

/*数字滚动插件的CSS可调整样式*/
.mutual .mt-number-animate{ font-family: '微软雅黑'; line-height:32px; height: 32px;/*设置数字显示高度*/; font-size: 30px;/*设置数字大小*/ overflow: hidden; display: inline-block; position: relative; }
.mutual .mt-number-animate .mt-number-animate-dot{ width: 10px;/*设置分割符宽度*/ line-height: 32px; float: left; text-align: center;}
.mutual .mt-number-animate .mt-number-animate-dom{ width: 20px;/*设置单个数字宽度*/ text-align: center; float: left; position: relative; top: 0;}
.mutual .mt-number-animate .mt-number-animate-dom .mt-number-animate-span{ width: 100%; float: left;}

.easy-con4 {
	background: #f3f7fa;
	padding: 60px calc((100% - 1240px)/2);
	text-align: center;
}
.easy-con4 .card-con {
	display: flex;
}
.easy-con4 .card-con>div{
	flex:1;
}
.easy-con4 .card-con .card {
	border-radius: 8px;	
	width: 378px;
	background: #fff;
	-webkit-box-shadow: 0px 5px 20px 5px #DFE3E6;
	-moz-box-shadow: 0px 5px 20px 5px #DFE3E6;
	box-shadow: 0px 5px 20px 5px #DFE3E6;
}
.easy-con4 .card-con .card .top-bg {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 172px;
	border-radius: 8px 8px 0 0;
	background: url(../img/easy-con4-bg.png) no-repeat top right,-webkit-linear-gradient(left,#104976,#009bd6);
	background: url(../img/easy-con4-bg.png) no-repeat top right,-o-linear-gradient(left,#104976,#009bd6);
	background: url(../img/easy-con4-bg.png) no-repeat top right,-moz-linear-gradient(left,#104976,#009bd6);
	background:url(../img/easy-con4-bg.png) no-repeat top right,-mos-linear-gradient(left,#104976,#009bd6);
	background: url(../img/easy-con4-bg.png) no-repeat top right,linear-gradient(left,#104976,#009bd6);
	text-align: center;
	color: #fff;
}
.easy-con4 .card-con .card .top-bg .title {
	font-size: 30px;
	height: 50px;
	padding-top: 50px;
	line-height: 50px;
}
.easy-con4 .card-con .card .top-bg .img img{
	width: 45px;
	height: 45px;
	margin-right: 10px;
}
.easy-con4 .card-con .card .top-bg .img{
	font-size: 20px;
	height: 32px;
	padding-top: 50px;
	line-height: 32px;
}
.easy-con4 .card-con .card .main {
	padding: 30px;
}
.easy-con4 .card-con .card .main .radio-con{
	padding: 0 0 30px 60px;
}
.easy-con4 .card-con .card .main .radio-con div{
	font-size: 16px;
    height: 40px;
    line-height: 40px;
    text-align: left;
}
.easy-con4 .card-con .card .main .radio-con div img {
	width: 33px;
	height: 33px;
    margin-right: 5px;
}
.easy-con4 .card-con .card .main .tip {
	width: 100%;
	font-size: 20px;
	color: #009bd6;
	height: 55px;
	line-height: 55px;
	border: 1px dashed #009bd6;
	margin-bottom: 20px;
}
.easy-con4 .card-con .card .main .bottom-btn {
	border-radius: 8px;
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size: 20px;
	color: #fff;
	background: #398db6;
}
.index .middle-bg {
	width: 100%;
	height: 200px;
	background: url(../img/allbackground1.png) center center no-repeat,rgba(118,140,153,0.11);
}
.index .index-middle-bg {
	background: #183d58;
	width: 100%;
	height: 400px;
}
.index .index-middle-bg .middle-bg-div>div{
	display: inline-block;
	width: 312px;
	height: 400px;
	margin-left: -7px;
	vertical-align: top;
}
.index .index-middle-bg .middle-bg-div .card{
	display: inline-block;
	width: 312px;
	height: 400px;
	padding: 40px;
	color: #fff;
	vertical-align: top;
	text-align: center;
}
.index .index-middle-bg .card .icon{
	padding-top: 100px;
}
.index .index-middle-bg .card .title {
	font-size: 24px;
	margin-top:20px;
}
.index .index-middle-bg .card .con {
	font-size: 16px;
	height: 30px;
	line-height: 30px;
	margin:20px 0;
}
.index .index-middle-bg .card .btn-detail {
	width: 150px;
	height: 30px;
	line-height: 30px;
	border: 1px solid #fff;
	text-align: center;
	margin: 50px auto;
	font-size: 18px;
	cursor: pointer;
}
.index .index-middle-bg .card .nore {
	opacity: 0;
	/*display: none;*/
	transition: 1s;
}
.index .index-middle-bg .middle-bg-div>div:nth-child(1){
	background: url(../img/index-middle-bg1.png);	
}
.index .index-middle-bg .middle-bg-div>div:nth-child(2){
	background: url(../img/index-middle-bg2.png);	
}
.index .index-middle-bg .middle-bg-div>div:nth-child(3){
	background: url(../img/index-middle-bg3.png);	
}
.index .index-middle-bg .middle-bg-div>div:nth-child(4){
	background: url(../img/index-middle-bg4.png);	
}

.index .index-middle-bg .card {
	background-color: rgba(16,74,119,0.53);	
	transition: 1s;
}
.index .index-middle-bg .card:hover {
	background-color: rgba(0,155,214,0.85);
}
.index .index-middle-bg .card:hover .icon{
	padding-top: 0px;
}
.index .index-middle-bg .card:hover .nore {
	opacity: 1;
}
.index .partner {
	text-align: center;
	font-size: 32px;
	margin: 70px 0 100px 0;
}
.index .partner .title {
	height: 50px;
	line-height: 30px;	
	border: none;
	letter-spacing: 2px;
}
.index .partner .en-title {
	width: 345px;
    height: 40px;
    line-height: 40px;
    letter-spacing: 18px;
    font-size: 28px;
    color: #9D9D9D;
    border: 1px solid #9D9D9D;
    margin: 0 auto;
    padding-left: 25px;
}
.index .companyInfo {
	height: 255px;
	margin: 50px;
}
#movediv {
	/*width: 100%;*/
	height: 145px;
	position: relative;
	overflow: hidden;
}

#movediv ul {
	/*width: 100%;*/
	height: 60px;
	position: relative;
}

#movediv ul li {
	width: 285px;
	height: 145px;
	line-height: 125px;
	padding-top: 10px;
	float: left;
	list-style: none;
	padding-right: 20px;
	border: 1px solid #e5e5e9;
	margin: 0 5px;
	text-align: center;
}

#movediv ul li img {
	display: inline-block;
	
}
.mutual-con1 {
	background: #f3f7fa;
	padding: 60px calc((100% - 1240px)/2);
	text-align: center;
}
.mutual-con1 .title {
	font-size: 20px;
	height: 30px;
	line-height: 30px;
	border: none;
}
.mutual-con1 .title span {
	vertical-align: top;
}
.mutual-con1 .title hr{
	display: inline-block;
    width: 90px;
    border-bottom: 1px solid #484848;
    margin: 15px 10px 15px 0px;
}
.mutual-con1 .pic-con {
	display: flex;
    height: 300px;
    padding: 0;
}
.mutual-con1 .pic-con>div {
	flex: 1;
	position: relative;
}
.mutual-con1 .pic-con .card .mutual-con1-pic1 {
	position: relative;
}
.mutual-con1 .pic-con .card .mutual-con1-pic2{
	position: absolute;
	top: 69px;
	left: 125px;
}
.mutual-con1 .pic-con .card .con{
	position: absolute;
	top: 145px;
	left: 202px;	
	color: #fff;
	font-size: 18px;
}
.mutual-con1 .pic-con .card .con .num {
	font-size: 30px;
	height: 47px;
	line-height: 50px;
}
@-webkit-keyframes rotation{
from {-webkit-transform: rotate(0deg);transform-origin:50% 50%;  }
to {-webkit-transform: rotate(360deg);transform-origin:50% 50%;  }
}

.Rotation{
	-webkit-transform: rotate(360deg);
	animation: rotation 3s linear infinite;
	-moz-animation: rotation 3s linear infinite;
	-webkit-animation: rotation 3s linear infinite;
	-o-animation: rotation 3s linear infinite;
}
.mutual-con2 .card-con .pic-center-text {
	width: 100%;
	text-align: center;
	position: relative;
	top: -210px;
    left: 18px;
}
.mutual-con2 .subTitle {
	width: 100%;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	padding-left: 10px;
	background: #E4E5E7;
	border-radius: 5px;
	margin-bottom: 20px;
}
.mutual-con2 .tab-con {
	display: flex;
	margin-bottom: 100px;
}
.mutual-con2 .tab-con>div {
	flex: 1;
}
.mutual-con2 .tab-con .data-table {
	width: 385px;
	border: 1px solid #e5e5e9;
}
.mutual-con2 .tab-con .data-table .title {
	height: 40px;
	line-height: 40px;
	background: #009bd6;
	color: #fff;
	text-align: center;
}
.mutual-con2 .tab-con .data-table .con {
	padding: 0 17px;
}
.mutual-con2 .tab-con .data-table .con>div {
	min-height: 75px;
	padding: 15px 0;
	text-align: left;
	border-bottom: 1px dashed #e5e5e9;
}
.mutual-con2 .tab-con .data-table .con>div:last-child {
	border-bottom: none;
}
.mutual-con2 .tab-con .data-table2 .con>div:last-child {
	border-bottom: 1px dashed #e5e5e9;
}

.mutual-con2 .tab-con .data-table .con .name {
	font-size: 14px;
	color: #484848;
	height: 28px;
    line-height: 28px;
}
.mutual-con2 .tab-con .data-table .con .intro {
	font-size: 12px;
	color: rgba(72,72,72,0.8);
}
.m-top50 {
	margin-top: 50px;
}
/*关于我们*/
.about .top-bg-about .title {
	font-size: 30px;
	height: 30px;
	line-height: 30px;
	border: none;
	color: #fff;
	margin: 50px 0;
}
.about .top-bg-about .title span {
	vertical-align: top;
}
.about .top-bg-about .title hr{
	display: inline-block;
    width: 230px;
    border-bottom: 0.5px solid #fff;
    margin: 20px 10px 15px 0px;
}
.about .about-con1 {
	background: url(../img/about-con1-bg.jpg) center center no-repeat;
	height: 547px;
	padding-top: 50px;
}
.about .about-con2 {
	padding: 60px calc((100% - 1240px)/2);
}
.about .about-con2 .card {
	width: 100%;
	min-height: 320px;
	padding: 50px 0;
	border-bottom: 1px dashed #e5e5e9;
}
.about .about-con2 .card>div {
	display: inline-block;
	vertical-align: top;
}
.about .about-con2 .card .avatar {
	width: 190px;
	height: 100%;
	font-size: 20px;
	color: #484848;
	text-align: center;
	font-weight: 600;
}
.about .about-con2 .card .con {
	width: calc(100% - 200px);
}
.about .about-con2 .card .con .title {
	font-size: 16px;
    color: #484848;
    min-height: 40px;
    line-height: 30px;
    font-weight: 600;
    letter-spacing: 1px;
}
.about .about-con2 .card .con .intro {
	position: relative;
	padding-left: 20px;
	margin-bottom: 20px;
}
.about .about-con2 .card .con .intro img {
	position: absolute;
    left: 0px;
    top: 3px;
}
.about .about-con2 .card .con .intro p {
	font-size: 14px;
	min-height: 20px;
	line-height: 20px;
	color: rgba(72,72,72,0.8);
	letter-spacing: 1px;
}
.about .about-con3 {
	padding: 60px calc((100% - 1240px)/2) 100px calc((100% - 1240px)/2);
	background: #f3f7fa;
}
.about .about-con3 .page-content {
	position: relative;
	margin: 50px;
}

.about .about-con3 .page-content .btn {
	position: absolute;
	cursor: pointer;
	height: 48px;
	width: 48px;
	opacity: .5;
	z-index: 999;
	top: 50%;
	margin-top: -20px
}

.about .about-con3 .page-content .btn:hover {
	opacity: 1
}

.about .about-con3 .page-content .btn.btn-left {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAclBMVEUAAADw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8feMP5lpAAAAJXRSTlMAwvWpZz2uW9Mu6NekjXf5MyljHxnr2ca5tI5xUiOeVtuVj1RHjmAswwAAATZJREFUSMeVltt2gjAQRQ8kGipUuYtFtLf5/1/sShcvJDOD2Y+TfSAhMSNCFlsVOf2TF5VdoOMmCpicotuRGEYr6PWVBK41559J4Rz7hlRM6Ge0Q6b5+4kjvcBRW6++8kb6moc23xSaNVDw/gRg3lTK9Tjw/s2Ptduag+ckL7ELxk6++JT9ZQjLT78Fot8M3Gb0ov+WMyM9bJJPFibJJ4MyyacRl+gZmk8XhJWH4nugPn8/MHj/Tgpg9v4nIUCVTxwSAvTYScSf9VtNXJiN+9ASJaq4+K4kDCwlJWx8vPVZ9dEPSH9HFu+rnrivl4A4q5w5CHAkv8Ny1wwKOfG7qRQ7V+VXV3+yVyVmIREcmzlqPzomtaGktqzUppjcdhnqTJxODZ625PSyhYy7RY3IQafb/v3pwvE/hYHws0Rd6XoAAAAASUVORK5CYII=);
	background-repeat: no-repeat;
	background-size: contain;
	left: 50%;
	margin-left: -400px
}

.about .about-con3 .page-content .btn.btn-right {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAclBMVEUAAADw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8ffw8feMP5lpAAAAJXRSTlMAwvWpZz2uW9Mu6NekjXf5MyljHxnr2ca5tI5xUiOeVtuVj1RHjmAswwAAAThJREFUSMeVlttygzAMRNfgAAUargmhgaY3/f8vNmR4sS0p8T7u7AExsiXga7B1kdBDSVHbAbrymTzNuRLvK2JU9UK8NSTItFz+SIqOYT4lVamfN/REhsvrhF6PXtWVHDUCccWuzrG/2uFbILodKBz3D8A7DxT7cXBdC5nIH0DpmslhMz9YoMRdS2Af5HcsYQt0wgAj58tVjbCBp77DIqUookYVeGpVFRrSiB/fbUCkEp++C3pC1BEA/YYHQQeWDTi9DCRv3N2Ckuc/uol6PjU4a/mMaVwalacUNipPFmNUnkbuAp06MW8A3IL8KubpxvS+HOR8yY2ZfvNmbcygCgbiRR5k4ahM+sMkjUpt+ehrKHsln8UvlCjCxC7F+LUbqp2k+NSCl2Vv09lCVh70+JJD1+r+/qzw9A9xzPCzOX+LSgAAAABJRU5ErkJggg==);
	background-repeat: no-repeat;
	background-size: contain;
	right: 50%;
	margin-right: -400px
}

.about .about-con3 .picture-box {
	position: relative;
	z-index: 2;
	height: 400px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-perspective: 800px;
	perspective: 800px
}

.about .about-con3 .picture-box img {
	position: absolute;
	left: 40%;
	top: 33%;
	width: 620px;
	height: auto;
	margin-left: -200px;
	margin-top: -125px;
	-webkit-transition: -webkit-transform .5s ease-in-out;
	transition: -webkit-transform .5s ease-in-out;
	transition: transform .5s ease-in-out;
	transition: transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
	-webkit-filter: brightness(40%)
}

.about .about-con3 .picture-box img.img-index0 {
	-webkit-transform: translateX(150px) translateZ(-200px) rotateY(-30deg);
	transform: translateX(150px) translateZ(-200px) rotateY(-30deg);
	z-index: 8
}

.about .about-con3 .picture-box img.img-index1 {
	-webkit-transform: translateX(300px) translateZ(-300px) rotateY(-30deg);
	transform: translateX(300px) translateZ(-300px) rotateY(-30deg);
	z-index: 7
}

.about .about-con3 .picture-box img.img-index2 {
	-webkit-transform: translateX(-300px) translateZ(-300px) rotateY(30deg);
	transform: translateX(-300px) translateZ(-300px) rotateY(30deg);
	z-index: 7
}

.about .about-con3 .picture-box img.img-index3 {
	-webkit-transform: translateX(-150px) translateZ(-100px) rotateY(30deg);
	transform: translateX(-150px) translateZ(-200px) rotateY(30deg);
	z-index: 8
}

.about .about-con3 .picture-box img.img-index4 {
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-filter: none;
	z-index: 9
}
.about .about-con3 .news {
	width: 100%;
	padding: 0 20px;
	background: #fff;
	border: 1px solid #e5e5e9;
	overflow: hidden;
}
.about .about-con3 .news>div {
	border-bottom: 1px solid #e5e5e9;
	width: 100%;
	height: 240px;
	padding: 40px 0;	
}
.about .about-con3 .news>div>div {
	display: inline-block;
	vertical-align: top;
}
.about .about-con3 .news>div .left-pic {
	width: 270px;
}
.about .about-con3 .news>div .right-con {
	width: calc(100% - 280px);
	padding-left: 40px;
}
.about .about-con3 .news .right-con .title {
	font-size: 16px;
	color: #484848;
	height: 35px;
	margin-left: -7px;
	letter-spacing: 1px;
}
.about .about-con3 .news .right-con .con {
	font-size: 14px;
	color: rgba(72,72,72,0.8);
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;
	overflow:hidden;
	line-height: 26px;
}
.about .about-con3 .news .right-con .bottom-date {
	font-size: 12px;
	color: rgba(72,72,72,0.4);
	margin-top: 22px;
}
.about .about-con3 .news .right-con .bottom-date img {
	margin-right: 5px;
}
.about .about-con3 .news .right-con .bottom-date a{
	color: #4499D0 ;
}

.about .about-con3 .news nav {
	float: right;
}
.about .footer-bottom .footer {
	margin-top: 0;
}
/*云尚俱乐部*/
.club-con1 .con{
	height: 500px;
	width: 100%;
	padding: 75px calc((100% - 1240px)/2);
	text-align: center;
	font-size: 18px;
	color: #484848;
	letter-spacing: 2px;
}
.club-con1 .con:nth-child(even){
	background:#F8F9FB;
}
.club-con1 .con>div {
	display: inline-block;
	vertical-align: top;
	width: 49%;
}
.club-con1 .con .con-left {
	float: left;
}
.club-con1 .con .con-right {
	float: right;
}
.club-con1 .con .title {
	font-size: 24px;
	color: #3C3C3C;
	height: 50px;
	margin-top: 100px;
}
/*基金评价*/
.aeesee-con1,.aeesee-con3,.exponential-con1 ,.apply-con1{
	padding: 60px calc((100% - 1240px)/2);
}
.aeesee-con1 .card-con {
	display: flex;
	margin-top: 60px;
}
.aeesee-con1 .card-con>div {
	flex: 1;
}
.aeesee-con1 .card-con .card {	
	width: 300px;
	height: 370px;
	border-radius: 10px;
	border:1px solid #e5e5e9;
	text-align: center;
	padding: 80px 0;
	font-size: 20px;
	color: #484848;
	transition: 1s;
	
}
.aeesee-con1 .card-con .card .top-img {
	height: 75px;
}
.aeesee-con1 .card-con .card .title {
	height: 50px;
	line-height: 50px;
	margin-top: 50px;
}
.aeesee-con1 .card-con .card:hover {
	background: #F8F9FB;
	color: #009BD6;
	border: 1px solid #F8F9FB;
}
.aeesee-con1 .card-con .card:nth-child(0):hover .top-img img{
	background: url(../img/assess-con1-pica1.png);
} 
.aeesee-con2 .con {
	display: flex;
}
.aeesee-con2 .con .con-left {
	flex: 1.2;
	padding-top: 40px;
}
.aeesee-con2 .con .con-left .para {
    position: relative;
    padding: 40px 40px 0 40px;
    font-size: 18px;
    color: #484848;
    min-height: 25px;
    line-height: 25px;
    letter-spacing: 0.8px;
}
.aeesee-con2 .con .con-left .para img {
	position: absolute;
	top: 40px;
	left: 2px;
}
.aeesee-con2 .con .con-img {
	flex: 1;
	padding-top: 60px;
}
.aeesee-con2 .con .con-img img {
	float: right;
}
.aeesee-con3 .con-img {
	text-align: center;
	padding-top: 60px;
}
.assess-middle-bg {
	background: url(../img/assess-middle-bg.png) center center no-repeat;
	margin-top: 80px;
	height: 576px;
}
.aeesee-con4 .contain {
	padding: 40px ;
}
.aeesee-con4 .contain>div{
	padding: 20px 0;
	border-bottom: 1px solid #e5e5e9;
}
.aeesee-con4 .contain>div>div {
	display: inline-block;
	vertical-align: top;
}
.aeesee-con4 .contain>div .left-pic {
	width: 270px;
	position: relative;
}
.aeesee-con4 .left-pic  .img-title {
	position: absolute;
	top: 63px;
    left: 43px;
	width: 165px;
	height: 45px;
	line-height: 45px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	border: 1px solid #fff;
	border-radius: 5px;
}
.aeesee-con4 .contain>div .right-con {
	width: calc(100% - 280px);
}
.aeesee-con4 .contain .right-con .title {
	font-size: 16px;
	color: #484848;
	height: 35px;
	margin-left: -7px;
	letter-spacing: 1px;
}
.aeesee-con4 .contain .right-con .con {
	font-size: 14px;
	color: rgba(72,72,72,0.8);
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:3;
	overflow:hidden;
	line-height: 26px;
}
.aeesee-con4 .contain .right-con .bottom-date {
	font-size: 12px;
	color: rgba(72,72,72,0.4);
	margin-top: 22px;
}
/*指数服务*/
.top-bg-exponential .title span{
	letter-spacing: 1.8px;		
    margin-top: 100px;
}
.exponential-con1 .con,.exponential-con2 .card-con {
	margin-top: 60px;
}
.exponential-con1 .con>div,.exponential-con2 .card-con>div {
	display: inline-block;
	vertical-align: top;
}
.exponential-con1 .con .left-p{
	width: calc(100% - 482px) ;
	font-size: 24px;
	color: #3D5668;
	line-height: 28px;
	text-align: center;		
}
.exponential-con1 .con .left-p .title {
	letter-spacing: 1.8px;
    margin-bottom: 25px;
}
.exponential-con1 .con .right-p,.exponential-con2 .card-con .right-p {
	padding: 20px;
	width: 475px;
	border: 1px solid #E5E5E9;	
}
.exponential-con1 .con .right-p .title,.exponential-con2 .card-con .right-p .title {
	font-size: 24px;
	height: 50px;
	line-height: 50px;
	border-bottom: 1px solid #E5E5E9;
	text-align: left;
}
.exponential-con1 .con .right-p .detail {
	padding: 20px;
	font-size: 18px;
	color: #484848;
	letter-spacing: 2px;
	line-height: 30px;
}
.exponential-con2 .card-con .left-p {
	width: calc(100% - 482px);
    font-size: 24px;
    color: #3D5668;
    padding: 0 10px;
    letter-spacing: 1.8px;
    line-height: 28px;
}
.exponential-con2 .card-con .left-p .part-top {
	font-size: 18px;
	color: #484848;
	letter-spacing: 2px;
	line-height: 30px;	
	margin-bottom: 20px;
	text-align: left;
}
.exponential-con2 .card-con .left-p .part-bottom {
	text-align: center;
}
.exponential-con2 .detail {
	padding: 25px 5px 0 5px;
}
.exponential-con2 .detail>div {
	border-bottom: 1px solid #E5E5E9;
	padding: 5px;
}
.exponential-con2 .detail>div>div {
	display: inline-block;
	vertical-align: top;
}
.exponential-con2 .detail>div .left-pic {
	width: 135px;
	position: relative;
	height: 110px;
    line-height: 110px;
}
.exponential-con2 .detail>div .left-pic .img-title {	
    position: absolute;
    top: 37px;
    left: 27px;
    width: 85px;
    height: 25px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 13px;
    border: 1px solid #fff;
    border-radius: 2px;
}
.exponential-con2 .detail>div .right-con {
	width: calc(100% - 145px);
	padding-left: 5px;
}
.exponential-con2 .detail .right-con .title {
	font-size: 16px;
	color: #484848;
	height: 35px;
	line-height: 35px;
	letter-spacing: 1px;
	border: none;
}
.exponential-con2 .detail .right-con .con {
	font-size: 14px;
	color: rgba(72,72,72,0.8);
	display:-webkit-box;
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
	overflow:hidden;
	line-height: 22px;
}
.exponential-con2 .detail .right-con .bottom-date {
	font-size: 12px;
	color: rgba(72,72,72,0.8);
	margin-top: 12px;
}
.exponential-con2 .detail .right-con .bottom-date a{
	color: #4499D0 ;
}
.exponential-con3 {
	background: url(../img/exponential-con3-pic1.png) center center no-repeat;
	margin-top: 80px;
	height: 230px;
	position: relative;
}
.exponential-con3 .hifi-btn {
	position: absolute;
	top: 90px;
	left: calc((100% - 286px)/2);
	width: 284px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	color: #FFF;
	border-radius: 6px;
	border: 1px solid #fff;
	cursor: pointer;
}
.exponential-con4 .con .right-p .detail {
	padding: 10px;
}
.exponential-con4 .right-p .para {
    position: relative;
    padding: 20px 0px 0 40px;
    font-size: 18px;
    color: #484848;
    min-height: 25px;
    line-height: 25px;
    letter-spacing: 2px;
}
.exponential-con4 .right-p .para img {
	position: absolute;
	top: 20px;
	left: 2px;
}
/*申请试用*/
.apply-con1 .apply-title {
	font-size: 34px;
	color: #484848;
	letter-spacing: 3.58px;
	text-align: center;
	line-height: 34px;
}
/*基查查*/
.jcc-middle-bg {
	margin-top: 75px;
	height: 430px;
	background: url(../img/jcc-middle-bg.png) center center no-repeat;
	text-align: center;
}
.jcc-middle-bg .maincon {
	padding: 75px calc((100% - 1240px)/2);
	color: #fff;
}
.jcc-middle-bg .maincon .con-title {
	font-size: 38px;
	height: 75px;
	line-height: 50px;
    letter-spacing: 2px;
}
.jcc-middle-bg .maincon .con {
	font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
}
.jcc-bottom-con {
	background: #fff;
	padding: 60px 0 120px 0;
}
.jcc-bottom-con>div {
	display: inline-block;
	vertical-align: top;
	font-size: 20px;
	color: #484848;
}
.jcc-bottom-con .con-left,.jcc-bottom-con .con-right {
	width: calc((100% - 565px)/2);
}
.jcc-bottom-con .con-center {
	width: 550px;
	text-align: center;
	margin-top: -240px;
}
.jcc-bottom-con .con-left>div,.jcc-bottom-con .con-right>div {
	margin: 95px 0;
}
.jcc-bottom-con .con-left>div .info,.jcc-bottom-con .con-right>div .info {
	display: inline-block;
	width: calc(100% - 80px);
	height: 74px;
	line-height: 74px;
}
.jcc-bottom-con .con-left>div .info {
	text-align: right;
} 
.jcc-bottom-con .con-right>div {
	text-align: left;
}
//指数模态框
.join-modal .title-logo {
	margin: 20px 35px;
	padding-bottom: 15px;
	border-bottom: 2px dashed #D0D0D0;
}
.join-modal .info {
	padding:0 20px;
	margin-top: 20px;
	line-height: 18px;
	font-size: 13px;
	color: #484848;
}
.join-modal .info>div {
	margin-bottom: 5px;
}
.fr {
	float:right;
}
.tr {
	text-align: right;
}
.indent50 {
	text-indent:25px;
}
.easy2Btn {
	height: 30px;
	width: 110px;
	border: 1px solid #e3e8ec;
	background-color: #EACF50;
	color: white;
	border-radius: 3px;
}
.easy2Btn:hover{
	background-color: #e4c11b;
}